html {
    font-family: "Verdana", sans-serif;
    
}

p, li {
    letter-spacing: 1px;
    font-size: 1rem;
}

.container {
    display: flex;   
    max-width: 80ch;
}

body {
    
    
    padding: 0em;
    
}

img {
  	
  margin: 0% auto; 
}

a {
  color: aquamarine;
}

a:hover {
  background-color: blue;
}

code {
    font-family: "Lucida Console", monospace;
    font-size: 1rem;
}

pre {
    font-family: "Lucida Console", monospace;
    font-size: 1rem;
    padding: 1em;
    background: teal;
}

.item {
   
    
}	    

@media (20em <= width <= 40em) {
  .container {
    margin: 0em;    
    
  }
}
