html {
    font-family: "Verdana", sans-serif;
    background: #04092e;
}

h1 {
    font-size: 1.5rem;
    color: #faa264;
    padding-bottom: 0.5em;
    margin: 0em;
}

p, li {
    letter-spacing: 1px;
    font-size: 1rem;
}

.container {
    display: flex;   
    max-width: 80ch;
}

body {
    
    color: honeydew;
    padding: 0em;
    
}

img {
  width: 100%;	
  display: block;
  margin: 0% auto; 
}

a {
  color: aquamarine
}

a:hover {
  background-color: cyan;
}

.item {
   
    
}	    

@media (20em <= width <= 40em) {
  .container {
    margin: 0em;    
    
  }
}
