html {
    font-family: sans-serif;
    background: white;
}

h1 {
    font-size: 1.3rem;
    color: crimson;
    padding-bottom: 0.5em;
    margin: 0em;
}

p, li {
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.container {
    display: flex;
    
    
    
}

body {
    max-width: 80ch;
    color: black;
    
    padding: 0em;
    
}

img {
  width: 100%;	
  display: block;
  margin: 0% auto; 
}

a {
  color: deeppink;
}

a:hover {
  background-color: cyan;
}

.item {
   
    
}	    

@media (20em <= width <= 40em) {
  .container {
    margin: 0em;    
    
  }
}